<img id="burgerimg" src='/assets/img/burger.png'/img>
<h1>Eat-Da-Burger!</h1>
<!-- this is index.handlebars -->
<div class='notEaten'>
    <ul>
        {{#each burgers}}
          {{#unless devoured}}
              <li>
                <p>{{this.id}}. {{this.burger_name}}</p>      
                    <form action="/devours/{{this.id}}" method="POST">       
                      <button class="devourButton" type="submit">Devour it!</button>
                    </form>    
              </li>
          {{/unless}}
        {{/each}}
    </ul>
</div>
<div class='eaten'>
    <ul>
        {{#each burgers}}
          {{#if devoured}}
              <li>
                <p>{{this.id}}. {{this.burger_name}}</p>   
              </li>      
          {{/if}}
        {{/each}}
    </ul>
</div>
<br>

  <form action="/addBurger" method='POST'>
    <div class="form-group">
      <textarea id="addedBurger" name="addedBurger" rows="1" cols="40"></textarea>
    </div>

    <button type="submit">Add New Burger</button>
  </form>